body{
  height: 100vw;
  width: 100vw;
}
#title{
  margin: auto;
  text-align:center;
  /* margin-top:30px; */
  padding-top: 1%;
  font-size:1vw;
}
form{
  height: 35%;
}
#container {
    background-color: gray;
    margin: auto;
    /* width: 320px; */
    width: 20%;
    /* height: 380px; */
    height: 27%;
    border: 5px outset black;
    margin-top: 30px;
    border-radius: 10px;
    /* padding-bottom: 1%; */
  }
  #display1{
    margin-top: 5%;
  }
  .display {
    margin: auto;
    /* margin-top: 2%; */
    height: 25%;
  }
  .in{
    font-size:200%;
    margin: auto;
    text-align: right; 
    width: 90%; 
    border: 1px solid black; 
    height: 75%;
    margin-left: 4.5%;
  }
  /* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#display2 {
  margin: auto;
  width: 92%;
  margin-top: 4%;
  height: 55%;
  display: grid;
  grid-template: repeat(6,1fr)/repeat(5,1fr);
}
button{
  border-radius: 5px;
  font-size: 1vw;
}
#Enter{
  grid-column: 4/6;

}
#instructions{
  border: 2px outset slateblue;
  margin: auto;
  margin-top: 25px;
  width: 45%;
  height: 20%;
  border-radius: 1px;
  background-color: lightgray;
  font-size: 1vw;
}
@media screen and (max-width: 480px){
  #container {
    width: 70%;
    height: 94%;
  }
  #title{
    font-size: 5vw;
  }
  #instructions{
    font-size: 1vw;
    width: 95%;
    height: 70%;
    font-size: 3vw;
  }
  button{
    font-size: 3vw;
  }
}